body
{
    background-color: #ECEDEF;
    font-family: 'Noticia Text', serif;
    margin: 25px;
}

h1
{
    font-family: 'chomskyregular';
    color: #404040;
    font-size: 10em;
    text-align: center;
}

.news-name
{
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-top : 3em;
    margin-left: 2em;
    margin-right: 2em;
}

.news-title
{
    font-weight: bold;
    font-size: 1.7em;
}

.undertitle
{
    border-top: 1px solid;
    border-bottom: 2px solid;
    padding-top: 0.7em;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
}

.slogan
{
    text-align: center;
}

.date
{
    text-align: end;
}

.article
{
    text-align: justify;
    padding: 2em;
    margin-bottom:6em;
    background-color: #ECEDEF;
    min-height: 700px;
}

.page{
    text-align: justify;
    background-color: #ECEDEF;
}

.hidden-hover,.showed-hover {
    background-color: #ECEDEF;
    position : absolute;
}

.showed-hover {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden-hover{
  visibility:hidden;
}

.showed-hover:hover{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.3s, opacity 1.3s linear;
}

.showed-hover:hover + .hidden-hover{
  visibility: visible;
}
   
.img-article{
  display: block;
  /*width:100%;*/
  margin: auto;
}

.article-source{
  float: right;
  color: lightslategray;
  font-style: italic;
}

.img-lens{
  min-width: 600px;
}

.main-news{
    display: flex;
    justify-content: center;
}

.hidden-onclick,.showed-onclick {
    background-color: #ECEDEF;
    position : absolute;
}

.showed-onclick {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden-onclick{
  visibility:hidden;
}

.showed-onclick:active{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.3s, opacity 1.3s linear;
}

.showed-onclick:active + .hidden-onclick{
    visibility: visible;
}
  
.article-small{
    background-color: #FFB296;
}